* {
  margin: 0;
  padding: 0;
}

.body-rf {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  padding: 16px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input[type='text'],
input[type='password'] {
  width: 50%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

input[type='text']:focus,
input[type='password']:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

a {
  color: black;
}

.signin {
  text-align: center;
}

/* to style the register button im stealing the code from homestyles.css so i dont copy-paste it without a need even though im actually ruining the point of different styles as the method im using to implement them is global, meaning that i should put class on everything so that i dont ruin the whole page */
